body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  margin-left: 50vmin;
}

ol, ul {
  padding-left: 30px;
}

.tablero-fila:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10vmin;
  font-size: calc(10px + 2vmin);
}

.casilla {
  border: 0px;
  float: left;
  padding: 0;
  height: 12vmin;
  width: 12vmin;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}